@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --bg: #fbe7c6;
  --glaze: #ffaebc;
  --x: #a0e7e5;
  --o: #b4f8c8;
  --game: #fef7ec;
}

body {
  text-align: center;
  background-color: var(--bg);
  font-family: "Pacifico", cursive;
}

h1 {
  color: var(--glaze);
  font-size: 5rem;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--glaze);
  background-color: var(--game);
  border-radius: 5px;
}

.cell {
  border: 1px solid var(--glaze);
  font-size: 5.5rem;
}
.x {
  color: var(--x);
}
.o {
  color: var(--o);
}
